IF else statement

In [1]:
a = 10

In [2]:
if a < 15 :
    pass                #if i dont want to do anything (pass is a reserved keyword)

In [3]:
if a < 15 :
    print("this is correct python program")

this is correct python program

In [4]:
if 24 < 15 :                                        #if conditional ststement is false
    print("this is correct python program")

In [5]:
24 < 15

False

In [6]:
if 5 < 15 :
    print("this is correct python program")

this is correct python program

In [7]:
if 5 < 15 :
    print("this is correct python program")
else :
    print("this is incorrect")

this is correct python program

In [8]:
income = 100
if income < 50 :
    print("i will be able to buy a phone")
elif income < 70 :
    print("i will be able to buy a car")
elif income < 80 :
    print ("i will able to buy a house")
else :
    print("i will do nothing")

i will do nothing

In [9]:
income = int (input())
if income < 50 :
    print("i will be able to buy a phone")
elif income < 70 :
    print("i will be able to buy a car")
elif income < 80 :
    print ("i will able to buy a house")
else :
    print("i will do nothing")

20
i will be able to buy a phone

In [10]:
Total_price = int(input())
if Total_price > 20000 :
    discount = Total_price * .20
    print("discount will be", discount)
elif Total_price <= 7000 :
    discount = Total_price * .05
    print("discount will be", discount)
else :
    print("wont be able to give any discount")

5000
discount will be 250.0

In [11]:
coup = input()
if coup == "ANKUR55" :
    print("you will get discount of 5%")
    paid_amount = 7080 - 7080 * 0.05
    print("you will get this subscription with this amount", paid_amount)
else :
    print("kindly use valid coupone code")

100
kindly use valid coupone code

In [12]:
study_hour = int(input())
if study_hour <  1:
    print("may take 8-9 months to suceed")
elif study_hour < 4 and study_hour > 1:                         # use 'and' operator do not use '&' in python
    print("may take 6 months to suceed")
elif study_hour > 10:
    print("may take 3 months to suceed")
else :
    print("it is difficult to suceed")

556
may take 3 months to suceed

In [4]:
s = input("enter a string to start")
if s == "ineuron" :
   course = input("enter a course name")
   if course == "DSA" :
        print("yes its available under ineuron")
   elif course == "blockchain" :
        print( "its not available right now")
   else :
        print("kindly raise your demand")
elif s == "ineuron services" :
    service = input("what kind of services you want")
    if service == "service request" :
        print("not available at the moment")
    elif service == "module" :
        print("not available")
    else :
        print(" kindly provide your feedback")
else :
    print("kindly contact our team")

enter a string to startl
kindly contact our team

In [ ]:
s = input("enter a string to start")
course = input("enter a course name")
service = input("what kind of services you want")
if s == "ineuron" :
    if course == "DSA" :
        print("yes its available under ineuron")
    elif course == "blockchain" :
        print( "its not available right now")
    else :
        print("kindly raise your demand")
elif s == "ineuron services" :
    if service == "service request" :
        print("not available at the moment")
    elif service == "module" :
        print("not available")
    else :
        print(" kindly provide your feedback")
else :
    print("kindly contact our team")

for Loop

In [ ]:
l = [1,2,3,4,5,6,7,8,9]
for i in l :
    print(i)

In [ ]:
s = "ankur"
for i in s :
    print(i)

In [ ]:
t = (1,2,5,6,8,9)
for i in t :
    print (i)

In [ ]:
l = [1,2,3,5.6,4+8j, "ankur"]

In [ ]:
for i in l :
    print(type(i))

In [ ]:
l = [1,2,3,5.6,4+8j, "ankur"]
for i in l :
    print(type(i), "type of", i)

In [ ]:
l = [1,2,3,5.6,4]
for i in l :
    print(i+2)

In [ ]:
l = [1,2,3,5.6,4]
l1 = []
for i in l :
    print(i+2)
    l1.append(i+2)

In [ ]:
l1

In [ ]:
l = [25, 35, 62,2.35, 2.3, "ineuron", 6+6j, 332, [12,35,6], True]
for i in l :
    if type(i) == int :
        print(i)

In [ ]:
l = [25, 35, 62,2.35, 2.3, "ineuron", 6+6j, 332, [12,35,6], True]
for i in l :
    if type(i) == float :
        print(i)

In [ ]:
l = [25, 35, 62,2.35, 2.3, "ineuron", 6+6j, 332, [12,35,6], True]
for i in l :
    if type(i) == complex :
        print(i)

In [ ]:
l = [25, 35, 62,2.35, 2.3, "ineuron", 6+6j, 332, [12,35,6], True]
for i in l :
    if type(i) == list :
        print(i)

In [ ]:
l = [25, 35, 62,2.35, 2.3, "ineuron", 6+6j, 332, [12,35,6], True]
for i in l :
    if type(i) == int :
        print(i)
    elif type (i) == list:
        for j in i :
            if type(j) == int:
                print(j)

In [ ]:
l = [25, 35, 62,2.35, 2.3, "ineuron", 6+6j, 332, [12,35,6], True]
#q1 . try to print index of all the elements
#q2 . try to extract all the list of char if element is string
#q3 . try to return a list after doing a square of all the int element

In [ ]:
#q1 . try to print index of all the elements

l = [25, 35, 62,2.35, 2.3, "ineuron", 6+6j, 332, [12,35,6], True]
for index, element in enumerate(l):
    print(f"Index {index}: {element}")

OR

In [ ]:
l = [25, 35, 62,2.35, 2.3, "ineuron", 6+6j, 332, [12,35,6], True]
len(l)
for i in range(len(l)) :
    print ("inndex", i, "for an element", l[i])

In [ ]:
#q1 . try to print index of all the elements

l = [25, 35, 62,2.35, 2.3, "ineuron", 6+6j, 332, [12,35,6], True]
len(l)
for i, j in enumerate(l):
    print(i, j)

In [ ]:
#q2 . try to extract all the list of char if element is string

l = [25, 35, 62, 2.35, 2.3, "ineuron", 6+6j, 332, [12, 35, 6], True]

string_elements = [element for element in l if isinstance(element, str)]

print(string_elements)

OR

In [17]:
l = [25, 35, 62, 2.35, 2.3, "ineuron", 6+6j, 332, [12, 35, 6], True]
for i in l:
    if type(i) == str :
        l1 = []
        for j in i :
            l1.append(j)
print(l1)

['a', 'n', 'k', 'u', 'r']

In [15]:
l = [25, 35, 62, 2.35, 2.3, "ineuron", 6+6j, 332, [12, 35, 6], True]

squared_integers = [x**2 for x in l if isinstance(x, int)]

print(squared_integers)

[625, 1225, 3844, 110224, 1]

In [16]:
l = [25, 35, 62, 2.35, 2.3, "ineuron", 6+6j, 332, [12, 35, 6], True]
l2 = []
for i in l :
    if type(i) == int :
        l2.append(i**2)
print(l2)

[625, 1225, 3844, 110224]